/* body {
    margin: 0;
} */

nav {
    color: #fff;
    background-color: blueviolet;
    width: 100%;
    height: 56px;
    line-height: 56px;
}

/* .style {
    color: #fff;
    padding: 0px;
    font-size: 10px;
    width: 100%;
    border: #f4f4f4 3px solid;
    text-align: center;
} */

.card .card-image .card-title {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: 24px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 100%;
}

.fonas {
    border: 0;
    border-radius: 0;
    padding: 30px;
    width: 100px;
}

.fonas1 {
    background-image: url(../img/foto1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
}